*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
html{
    font-family:'Nunito', sans-serif;
    font-size:10px;
    
}
 
ul{

    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items:center;
}


li{
    margin: 1em;
}
li a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}

li a:hover{
    text-decoration: underline;
}

.image img{
    border-radius: 40px;
    width: 3.5em;
}


main{

    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
     
    
}

