*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance:none;

}
html{
    font-family:'Nunito', sans-serif;
    font-size:12px;
    
}

nav{
    width: 100%;
    height: 100px;
}
 
ul{

    list-style-type: none;
    display: flex;
    align-items:center;
    float:right;
}


li{
    margin: 1em;
}
li a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}

li a:hover{
    text-decoration: underline;
}

.image img{
    border-radius: 40px;
    width: 3.5em;
}

main{
 
    display:flex;
    align-items: center;
    justify-content: center;
    

}

.google{
    padding-top:180px;
    padding-bottom:20px;

}
form{
    display: flex;
    align-items: center;
    flex-direction: column;    
}
form div svg{
    height: 30px;
}
.search{
    display: flex;
    margin:10px;
    padding:10px;
    width: 40%;
    border:1px solid #dfe1e5;
    border-radius: 24px;
}
.search:hover{    
    margin:10px;
    padding:10px;
    width: 40%;
    box-shadow:0 0 15px 5px rgba(0,0,0,0.2);
}
.google-mic,.lupa{
        outline: none;
        background: transparent;
        border: 1px solid transparent;
        cursor: pointer;
      }


span{
        margin-top: 3px;
        color: #9aa0a6;
        height: 20px;
        width: 20px;
        -moz-opacity: 0.6;
        opacity: 0.6;
    }

input[type="text"]{
    border:none;
    
}
input{
    width: 100%;
}

.button-submit{
    margin:30px;
     
    }

button[type=submit]{
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 15pt;
    
}

.g-search{        
    border-radius: 4px;
    border: none;
    margin: none;
    color: black;
    height: auto;
    height: 36px;
    min-width: 54px;
    text-align: center;
   

}

.lucky{
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    
    
}

.button-submit button:hover{
    border: solid rgb(206, 206, 207) .5px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    background-color: #E8E8E8;
    height: 100px;
    
}

footer li a{
    color:#70757a;
    
}


